body {
    background-color: #f3f3f3;
}


p {
    background-color: red;
}

.enlace {
    padding: 15px 30px;
    text-decoration: none;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    /* padding: 0 16px; */
    width: 332px;
    color: #fff;
}

.enlace:hover {
    background-color: #a9c2e3;
    color: #000;
}




#parrrafo1 {
    background-color: yellow;
}

.borde {
    background-color: blue;
}

.borde {
    background-color: green;
}